/* Base styles for mobile (320px and up) */
/* These styles apply by default, so no media query is needed */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Roboto', serif;
}

@media (min-width: 320px) {
  .default-margin {
    margin: 0 16px 0 16px;
  }

  .default-flex {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .default-margin {
    margin: 0 20px 0 20px;
  }
}

@media (min-width: 1152px) {
  .default-margin {
    margin: 0 32px 0 32px;
  }

  .nav-toggle {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .web-nav {
    display: flex;
  }
}

@media (min-width: 1440px) {
  /* .mobile-nav {
    display: none;
  }
  .nav-toggle {
    display: none;
  }
  .web-nav {
    display: flex;
  } */
}

@media (min-width: 1920px) {
  .default-margin {
    margin: 0 220px 0 220px;
  }
}
